@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to right, #F2F2F2, #8C8C8C)
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3b3b3bd3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #262626;
    text-align: center;
    text-shadow: 1px 1px 2px #050505cc;
    
}

h2 {
    color: #595959;
}

p {
    color: #8C8C8C;
}