@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {       
    margin: 0;
    padding: 0;    
}

body {    
    
    background-color: rgba(95, 158, 160, 0.486);
    font-family: Arial, Helvetica, sans-serif;    
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}

header > p {
    font-size: 20px;
}

h1 {
    font-variant: small-caps;
    font-family:"Passion One", sans-serif;
    font-size: 10vw;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section { 
    font-family: "Sriracha", cursive; 
    font-variant: small-caps; 
    font-size: 3vw;  
    padding: 30px;  
    line-height: 1.8em;       
}

section.normal {    
    background-color: white;   
}

section.imagem {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.247);
    background-attachment: fixed;
    background-size: cover;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.281);  
    color: white; 
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);  
    padding: 5px;  
    display: inline-block;     
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right;
} 

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: center;
} 

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}