@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: "Passion One", sans-serif;
  font-weight: 400; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal; */