@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: "Passion One", sans-serif;
   font-weight: 400; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: "Sriracha", cursive;
   font-weight: 400;
   font-style: normal; */

* {
    padding: 0;
    margin: 0; 
    
}

body {
    font-family: "Passion One", sans-serif;
    font-weight: 400;     
}

header {
    background-color: black;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 40px 0;  
    font-size: 30px;
}  

#miltonduarte {
    font-size: 16px;    
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

body main {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;    
}

section {
    padding: 20px;
}

.semfoto p {
    padding: 5px;    
    width: 220px;    
    text-align: justify;  
   
}

.comfoto1 {    
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;   
    background-repeat: no-repeat;  
    background-position: center center; 
    box-shadow: inset 2px 2px 30px black;
      
}

.comfoto1 p {
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    text-shadow: 1px 1px 1px black;
    max-width: 220px;
    padding: 5px;
    margin: 30px 0;
}

.comfoto2 {   
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;   
    background-repeat: no-repeat;  
    background-position: center center;  
    box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.507);  
}

.comfoto2 p {
    background-color: rgba(0, 0, 0, 0.301);
    color: white;
    text-shadow: 1px 1px 1px black;
    max-width: 220px;
    padding: 5px;
    margin: 30px 0;
}

footer {
    background-color: black;
    text-align: center;
    font-size: px;
    color: white;
    padding: 10px;    
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: 50;
}

footer a:hover {
    text-decoration: underline;
}

