@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/* font-family: "Passion One", sans-serif;
   font-weight: 400; */

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
/* font-family: "Sriracha", cursive;
   font-weight: 400;
   font-style: normal; */

* {
    margin: 0px;  
    padding: 0px;       
}

body {
    min-height: 100vh;
    background-color: black;
}

header {
    background-color: black;    
    color: white;
    text-align: center;
    padding: 50px 0;   
} 

header > h1 {
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}
section.nornal {
    background-color: white;  
}

section.imagem{
    background-color: rgba(255, 255, 255, 0.596);
    color: white;
}

section.imagem > p {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.233);
}

footer {
    background-color: black;
    text-align: center;    
    color: white;
    padding: 10px;    
}


